<a href="https://colab.research.google.com/github/Nzaya/Test-for-hypothyroidism/blob/master/Moringa_Data_Science_Core_W8_Independent_Project_2019_06_Sharon_Nzaya_Python_Notebook%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# QUESTION

Nairobi Hospital conducted a clinical camp to test for hypothyroidism. The data collected focused on Thyroid patients. Use the healthcare datasets provided to accomplish the following:  

Build a model that determines whether or not the patient's symptoms indicate that the patient has hypothyroid.

## METRICS OF SUCCESS

Optimal and reliable prediction Model:

Accuracy; 80% and above.

# EXPERIMENTAL DESIGN TAKEN

1: Decision trees:

Build a model that makes the above prediction. You should not use individual decision trees, rather you should use at least 2 out of the 3 advanced models we have studied: Random forests.

Optimize each of the 2 models, making sure to document how you've set up your hyperparameters.

Note that with decision trees, you don't need to do a lot of data cleaning. This will be very different with SVM.

2: SVM:

Apply Linear and rbf kernel function to build your SVM model and then evaluate their performance and pick the kernel that performs the best. 


After getting your best performing kernel, use this kernel together with your tuned parameters and repeat the prediction but this time using additional features. Compare the model you've just created with the 2-features version.

# Importing our Libraries

In [0]:
#Importing necessary libraries

import pandas as pd
import numpy as np

In [0]:
#Loading our dataset

hypo=pd.read_csv('/content/hypothyroid.csv')
hypo.head()

        status age sex on_thyroxine  ... FTI_measured FTI TBG_measured TBG
0  hypothyroid  72   M            f  ...            y  10            n   ?
1  hypothyroid  15   F            t  ...            y  17            n   ?
2  hypothyroid  24   M            f  ...            y   0            n   ?
3  hypothyroid  24   F            f  ...            y   6            n   ?
4  hypothyroid  77   M            f  ...            y  44            n   ?

[5 rows x 26 columns]

In [0]:
#Previewing the last five records of our dataset

hypo.tail()

        status age sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
3158  negative  58   F            f  ...            y   95            n   ?
3159  negative  29   F            f  ...            y   98            n   ?
3160  negative  77   M            f  ...            y  104            n   ?
3161  negative  74   F            f  ...            y  137            n   ?
3162  negative  56   F            t  ...            y  143            n   ?

[5 rows x 26 columns]

In [0]:
#Checking our columns

hypo.columns

Index(['status', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid',
       'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre',
       'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4',
       'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG'],
      dtype='object')

# DATA CLEANING

In [0]:
# Create a dictionary to find and replace values

dic_to_replace = {"sex": {"M": 1, "F": 0},
              'on_thyroxine': {"t": 1, "f": 0},
               "query_on_thyroxine": {"t": 1, "f": 0},
                "on_antithyroid_medication": {"t": 1, "f": 0},
                "thyroid_surgery": {"t": 1, "f": 0},
                "query_hypothyroid": {"t": 1, "f": 0},
               "query_hyperthyroid": {"t": 1, "f": 0},
                "pregnant": {"t": 1, "f": 0},
                "sick" : {"t": 1, "f": 0},
                "tumor": {"t": 1, "f": 0},
                "lithium": {"t": 1, "f": 0},
                "goitre": {"t": 1, "f": 0},
                 "TSH_measured": {"y": 1, "n": 0},
                 "T3_measured": {"y": 1, "n": 0},
                  "TT4_measured": {"y": 1, "n": 0},
                  "T4U_measured": {"y": 1, "n": 0},
                  "FTI_measured": {"y": 1, "n": 0},
                  "TBG_measured": {"y": 1, "n": 0},
                }
hypo.replace(dic_to_replace, inplace=True)

In [0]:
#Previwing dataset after changes

hypo.head()

        status age sex  on_thyroxine  ...  FTI_measured  FTI  TBG_measured  TBG
0  hypothyroid  72   1             0  ...             1   10             0    ?
1  hypothyroid  15   0             1  ...             1   17             0    ?
2  hypothyroid  24   1             0  ...             1    0             0    ?
3  hypothyroid  24   0             0  ...             1    6             0    ?
4  hypothyroid  77   1             0  ...             1   44             0    ?

[5 rows x 26 columns]

In [0]:
#Describing the dataset by looking at its mean, mode and other statistical relevance

hypo.describe()

       on_thyroxine  query_on_thyroxine  ...  FTI_measured  TBG_measured
count   3163.000000         3163.000000  ...   3163.000000   3163.000000
mean       0.145748            0.017389  ...      0.921910      0.082200
std        0.352909            0.130735  ...      0.268356      0.274713
min        0.000000            0.000000  ...      0.000000      0.000000
25%        0.000000            0.000000  ...      1.000000      0.000000
50%        0.000000            0.000000  ...      1.000000      0.000000
75%        0.000000            0.000000  ...      1.000000      0.000000
max        1.000000            1.000000  ...      1.000000      1.000000

[8 rows x 17 columns]

In [0]:
#Counting missing values 

hypo.isnull().sum().sum()

<bound method Series.sum of status                          0
age                             0
sex                             0
on_thyroxine                    0
query_on_thyroxine              0
on_antithyroid_medication       0
thyroid_surgery                 0
query_hypothyroid               0
query_hyperthyroid              0
pregnant                        0
sick                            0
tumor                           0
lithium                         0
goitre                          0
TSH_measured                    0
TSH                             0
T3_measured                     0
T3                              0
TT4_measured                    0
TT4                             0
T4U_measured                    0
T4U                             0
FTI_measured                    0
FTI                             0
TBG_measured                    0
TBG                          2903
dtype: int64>

In [0]:
# Replacing ? to NaN values

for i in range(1,26):
  hypo.iloc[:, i].replace('?', np.NaN, inplace=True)

In [0]:
# Creating a list of numerical columns

numeric=['age', 'FTI', 'T3', 'T4U', 'TSH', 'TT4','TBG']
for i in hypo.columns:
  if i in numeric:
    hypo[i]=pd.to_numeric(hypo[i])
else:
     hypo[i]=hypo[i].astype('category')

In [0]:
#filling in the null values with the respective means

hypo=hypo.fillna(hypo.mean())

In [0]:
#Checking for null values

hypo.isnull().sum()

status                          0
age                             0
sex                             0
on_thyroxine                    0
query_on_thyroxine              0
on_antithyroid_medication       0
thyroid_surgery                 0
query_hypothyroid               0
query_hyperthyroid              0
pregnant                        0
sick                            0
tumor                           0
lithium                         0
goitre                          0
TSH_measured                    0
TSH                             0
T3_measured                     0
T3                              0
TT4_measured                    0
TT4                             0
T4U_measured                    0
T4U                             0
FTI_measured                    0
FTI                             0
TBG_measured                    0
TBG                          2903
dtype: int64

In [0]:
hypo.dtypes

status                         object
age                           float64
sex                           float64
on_thyroxine                    int64
query_on_thyroxine              int64
on_antithyroid_medication       int64
thyroid_surgery                 int64
query_hypothyroid               int64
query_hyperthyroid              int64
pregnant                        int64
sick                            int64
tumor                           int64
lithium                         int64
goitre                          int64
TSH_measured                    int64
TSH                           float64
T3_measured                     int64
T3                            float64
TT4_measured                    int64
TT4                           float64
T4U_measured                    int64
T4U                           float64
FTI_measured                    int64
FTI                           float64
TBG_measured                    int64
TBG                          category
dtype: object

In [0]:
hypo.TBG=hypo.TBG.astype(float)

In [0]:
hypo.dtypes

status                        object
age                          float64
sex                          float64
on_thyroxine                   int64
query_on_thyroxine             int64
on_antithyroid_medication      int64
thyroid_surgery                int64
query_hypothyroid              int64
query_hyperthyroid             int64
pregnant                       int64
sick                           int64
tumor                          int64
lithium                        int64
goitre                         int64
TSH_measured                   int64
TSH                          float64
T3_measured                    int64
T3                           float64
TT4_measured                   int64
TT4                          float64
T4U_measured                   int64
T4U                          float64
FTI_measured                   int64
FTI                          float64
TBG_measured                   int64
TBG                          float64
dtype: object

In [0]:
hypo.shape

(3163, 26)

In [0]:
hypo.isnull().sum()

status                          0
age                             0
sex                             0
on_thyroxine                    0
query_on_thyroxine              0
on_antithyroid_medication       0
thyroid_surgery                 0
query_hypothyroid               0
query_hyperthyroid              0
pregnant                        0
sick                            0
tumor                           0
lithium                         0
goitre                          0
TSH_measured                    0
TSH                             0
T3_measured                     0
T3                              0
TT4_measured                    0
TT4                             0
T4U_measured                    0
T4U                             0
FTI_measured                    0
FTI                             0
TBG_measured                    0
TBG                          2903
dtype: int64

In [0]:
hypo.TBG.fillna(hypo.TBG.mean(), inplace=True)

In [0]:
hypo.isnull().sum()

status                       0
age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
thyroid_surgery              0
query_hypothyroid            0
query_hyperthyroid           0
pregnant                     0
sick                         0
tumor                        0
lithium                      0
goitre                       0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
TBG_measured                 0
TBG                          0
dtype: int64

# Random Forest

In [0]:
import scipy as sc
import warnings

from collections import Counter
from sklearn import metrics
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.utils import resample


warnings.filterwarnings('ignore')

# Splitting and Conversion

In [0]:
#Splitting our X and y to features and targets

features = hypo.drop(['status'], axis = 1).values
target = hypo['status']

In [0]:
#Convert them to numpy arrays

features=np.array(features)
target= np.array(target)

Model with 70% training and 30% validation

In [0]:
print(features.shape)
print(target.shape)

(3163, 25)
(3163,)

In [0]:
#Scaling our data

features_standard= StandardScaler().fit_transform(features)

In [0]:
#Splitting our data

x_train,x_test,y_train,y_test= train_test_split(features_standard, target, test_size=0.3,
                                               random_state=42)

In [0]:
#Random Forest Model

model= RandomForestClassifier(n_estimators=20, max_features=20)
model=model.fit(x_train,y_train)

# Prediction

In [0]:
#Predictions

y_est_train= model.predict(x_train)
y_est_test= model.predict(x_test)

In [0]:
#We measure the accuracy of the classification

score1= model.score(x_train, y_train)
score2= model.score(x_test, y_test)

print('-------------------------------------')
print('Training: {0}'.format(score1))
print('Validation: {0}'.format(score1))
print('-------------------------------------')

-------------------------------------
Training: 0.9995483288166215
Validation: 0.9995483288166215
-------------------------------------

# SVM

In [0]:
from collections import Counter
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

warnings.filterwarnings('ignore')

In [0]:
#Previewing our dataset

hypo.head()

        status   age  sex  ...   FTI  TBG_measured        TBG
0  hypothyroid  72.0  1.0  ...  10.0             0  31.283077
1  hypothyroid  15.0  0.0  ...  17.0             0  31.283077
2  hypothyroid  24.0  1.0  ...   0.0             0  31.283077
3  hypothyroid  24.0  0.0  ...   6.0             0  31.283077
4  hypothyroid  77.0  1.0  ...  44.0             0  31.283077

[5 rows x 26 columns]

# Splitting and Conversion

In [0]:
# Defining our X and y to Features and Target

features = hypo.drop(['status'], axis = 1).values
target = hypo['status']

In [0]:
# Number of samples

print(features.shape)
print(target.shape)

(3163, 25)
(3163,)

In [0]:
#Converting to a numpy array

features = np.array(features)
target = np.array(target)

# Specifying our Kernels and Tuning parameters

In [59]:
kernels = ['rbf', 'linear']
gamma_values = [0.1, 1]
c_values = [0.01, 1, 10]

for kernel in kernels:
    for gamma_value in gamma_values:
        for c_value in c_values:
            
            print('-------------------------------------')
            print('Kernel: {0}'.format(kernel))
            print('Gamma: {0}'.format(gamma_value))
            print('C: {0}'.format(c_value))
            print('-------------------------------------')

-------------------------------------
Kernel: rbf
Gamma: 0.1
C: 0.01
-------------------------------------
-------------------------------------
Kernel: rbf
Gamma: 0.1
C: 1
-------------------------------------
-------------------------------------
Kernel: rbf
Gamma: 0.1
C: 10
-------------------------------------
-------------------------------------
Kernel: rbf
Gamma: 1
C: 0.01
-------------------------------------
-------------------------------------
Kernel: rbf
Gamma: 1
C: 1
-------------------------------------
-------------------------------------
Kernel: rbf
Gamma: 1
C: 10
-------------------------------------
-------------------------------------
Kernel: linear
Gamma: 0.1
C: 0.01
-------------------------------------
-------------------------------------
Kernel: linear
Gamma: 0.1
C: 1
-------------------------------------
-------------------------------------
Kernel: linear
Gamma: 0.1
C: 10
-------------------------------------
-------------------------------------
Kernel: linear
Gamma: 1
C: 0.01
-------------------------------------
-------------------------------------
Kernel: linear
Gamma: 1
C: 1
-------------------------------------
-------------------------------------
Kernel: linear
Gamma: 1
C: 10
-------------------------------------

# Incoporating K fold for better Accuracy

In [0]:
fold = 6
np.random.seed(12345)
efficiency_train = np.zeros(fold)
efficiency_validation = np.zeros(fold)
support_vectors_percent = np.zeros(fold)

skf = StratifiedKFold(n_splits=fold, random_state=None, shuffle=False)

In [0]:
j = 0
for train, test in skf.split(features, target):
  x_train = features[train, :]
  y_train = target[train]
  x_test = features[test, :]
  y_test = target[test]

In [0]:
#Normalize the data

scaler = preprocessing.StandardScaler().fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

# MODELLING

In [0]:
# SVC model

model = SVC(gamma=gamma_value, C=c_value, kernel=kernel, decision_function_shape='ovo')
model = model.fit(x_train, y_train)

In [0]:
#Let's make predictions

y_est_train = model.predict(x_train)
y_est_test = model.predict(x_test)
#print(model.predict(local_test))

# Accuracy and Prediction

In [71]:
#We measure the accuracy of the classification

score1= model.score(x_train, y_train)
score2= model.score(x_test, y_test)

print('-------------------------------------')
print('Training: {0}'.format(score1))
print('Validation: {0}'.format(score1))
print('-------------------------------------')

-------------------------------------
Training: 0.9840667678300455
Validation: 0.9840667678300455
-------------------------------------

In [69]:
# Evaluate the predictions of the model with the test data

efficiency_train[j] = np.mean(y_est_train.ravel() == y_train.ravel())
efficiency_validation[j] = np.mean(y_est_test.ravel() == y_test.ravel())
support_vectors_percent[j] = len(model.support_vectors_) / len(x_train)
j += 1


print('-------------------------------------')
print('Training: {0} +- {1}'.format(str(np.mean(efficiency_train)), str(np.std(efficiency_train))))
print('Validation: {0} +- {1}'.format(str(np.mean(efficiency_validation)), str(np.std(efficiency_validation))))

-------------------------------------
Training: 0.16401112797167425 +- 0.36674003121108084
Validation: 0.16382036685641999 +- 0.3663134763899087